body {  overflow: hidden;}
.contacts {  margin-top: 52px;}
.inf-contact h3 {  text-indent: 20px;}

.books h3 {
  text-align: center;
}

.contacts .inf-contact {
  line-height: 1.5;
}

.contacts .inp-form input {
  border-color: white;
}