/*
body { overflow: auto; overflow-y: -webkit-paged-y;}

!*!*============================= Products ===================================*!*!
.thumbnail {  background-color: #616161;}
.thumbnails a:visited {  color: white;}
.thumbnail a > img, .thumbnail > img {
  border-radius: 7px;
  margin-top: 7px;
}

.thumbnails h5 {
  font-size: 21px;
  text-align: center;
  color: #FFFFFF;
  font-family: play, sans-serif;
  font-weight: 700;
  line-height: 19px;
}

.thumbnails p, .down-pdf {
  font-size: 19px;
  text-align: center;
  color: #FFFFFF;
  font-family: play, sans-serif;
  font-weight: 400;
  padding-top: 4px;
}

.thumbnails a:link {
  text-decoration: none;
  font: inherit;
  color: inherit;
  font-size: initial;
}

.my-flex-wrap {
  display: flex;
  height: 100%;
  width: 94%;
  position: relative;
  left: 23%;
}

.thumbnails {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.thumbnails li {
  margin-right: 8%;
  flex-basis: 211px;
}

!*!*========================== Search =====================*!*!

#imaginary_container {  width: 80%;}
#imaginary_container {      margin-top: 2%;  margin-bottom: 6%;}
.stylish-input-group .input-group-addon {  background: #616161;}

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}

!*!*==================== catalog colons1 ================================*!*!

.catalog {
  position: fixed;
  margin-top: 7%;
  margin-left: 3%;
  z-index: 10;
}

#imaginary_container .form-control {
  background-color: #616161;
  color: #fff;
}

#imaginary_container .stylish-input-group .form-control {
  border-color: #d7d7d7;
}

#imaginary_container .input-group-addon {
  color: #fff;
}

.catalog li, .catalog a {
  text-align: left;
  color: #dedede;
  font-family: play, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 5%;
  margin-bottom: 10px;
  text-decoration: none;
}

.catalog li:hover, .catalog a:hover {
  color: #FFFFFF;
  font-weight: 600;
}
*/

body { overflow: auto; overflow-y: -webkit-paged-y;}

.product {
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

