
/*body { overflow: auto; overflow-y: -webkit-paged-y;}*/

/*!*!*============================= Products ===================================*!*!*/
/*.thumbnail {  background-color: #616161;}*/
/*.thumbnails a:visited {  color: white;}*/
/*.thumbnail a > img, .thumbnail > img {*/
  /*border-radius: 7px;*/
  /*margin-top: 7px;*/
/*}*/

/*.thumbnails h5 {*/
  /*font-size: 21px;*/
  /*text-align: center;*/
  /*color: #FFFFFF;*/
  /*font-family: play, sans-serif;*/
  /*font-weight: 700;*/
  /*line-height: 19px;*/
/*}*/

h5.title, .down-pdf {
  font-size: 19px;
  text-align: center;
  color: #FFFFFF;
  font-family: play, sans-serif;
  font-weight: 400;
  padding-top: 4px;
}

/*.thumbnails a:link {*/
  /*text-decoration: none;*/
  /*font: inherit;*/
  /*color: inherit;*/
  /*font-size: initial;*/
/*}*/

/*.my-flex-wrap {*/
  /*display: flex;*/
  /*height: 100%;*/
  /*width: 94%;*/
  /*position: relative;*/
  /*left: 23%;*/
/*}*/

/*.thumbnails {*/
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  /*align-items: flex-start;*/
  /*justify-content: flex-start;*/
/*}*/

/*.thumbnails li {*/
  /*margin-right: 8%;*/
  /*flex-basis: 211px;*/
/*}*/

/*!*!*========================== Search =====================*!*!*/



/*!*!*==================== catalog colons1 ================================*!*!*/



body.production-page #imaginary_container {  width: 80%;}
body.production-page #imaginary_container {      margin-top: 2%;  margin-bottom: 6%;}
body.production-page .stylish-input-group .input-group-addon {  background: #616161;}

body.production-page .stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

body.production-page .stylish-input-group button {
  border: 0;
  background: transparent;
}

body.production-page .catalog {
  position: fixed;
  left: 0;
  margin-top: 1%;
  z-index: 10;
  background: black;
  padding-right: 14px;
  opacity: 0.6;
  /* color: white; */
  border-radius: 7px;
}

body.production-page #imaginary_container .form-control {
  background-color: #616161;
  color: #fff;
}

body.production-page #imaginary_container .stylish-input-group .form-control {
  border-color: #d7d7d7;
}

body.production-page #imaginary_container .input-group-addon {
  color: #fff;
}

body.production-page .catalog li, .catalog a {
  text-align: left;
  color: #dedede;
  font-family: play, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 5%;
  margin-bottom: 10px;
  text-decoration: none;
}

body.production-page .catalog li:hover, .catalog a:hover {
  color: #FFFFFF;
  font-weight: 600;
}

body.production-page {
  overflow: auto;
}

body.production-page .flex-content {
  display: flex;
  flex-wrap: wrap;

}

body.production-page .flex-item {
  width: 33.3%;
  margin-bottom: 20px;
  padding: 0 15px;
}

.product {
  height: 100%;
  padding: 10px;
  text-align: center;
  background-color: #616161;
  border-radius: 5px;
}

.product .thumbnail {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100%;
  background-color: #949494;
}

.product .thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product .title {
  margin-bottom: 10px;
  font-size: 24px;
}

.product .price {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
}

.product .show-more {
  max-width: 100%;
  margin: 0 auto;
  padding: 5px 15px;
  background-color: #8c8c8c;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

