body { overflow-x: hidden; }
.img-product img{ width: 100%; }

.page-product {
  overflow-y: auto;
}

.page-product .info-product a {
  /*font-size: 16px;*/
  font-family: play, sans-serif;
  font-weight: 700;
  color: #7F7F7F;
  text-decoration: none;
}

.page-product .info-product a:hover {
  text-decoration: none;
  color: white;
}

.page-product .info-product h1 {
  color: #FFFFFF;
  font-size: 30px;
  font-family: play, sans-serif;
  font-weight: 700;
}

.page-product .inf-product {
  margin-left: 20px;
}

.page-product .inf-product img {
  width: 3%;
  margin-right: 10px;
}

.page-product .inf-product li, .tab_item, .tab, .inf-contact {
  color: rgba(255, 255, 255, 0.91);
  font-size: 20px;
  font-family: play, sans-serif;
  font-weight: 400;
  margin-top: 7px;
}

.page-product .inf-product h4, .inf-contact h3, .books h3 {
  color: #FFFFFF;
  line-height: 24px;
  font-family: play, sans-serif;
  font-weight: 400;
  padding-top: 15px;
}

/*-----  inp for product and price   ------*/
.inp-form {
  display: flex;
  margin-top: 27px;
}

.inp-form input {
  margin-right: 15px;
  background-color: rgba(50,50,50,0.7);
  padding: 9px 33px;
  color: #FFFFFF;
  font-size: 18px;
  border: outset;
  margin-top: 5px;
  border: none;
}

.inp-form input:hover {
  background-color: #464646;
}

/* tabs */
.page-product .inf-tab {
  margin-top: 25px;
}

.page-product .inf-tab .active {
  color: white;
  font-weight: 600;
}

.page-product .tab {
  cursor: pointer;
  padding: .5em;
  display: inline-block;
  border-bottom: 3px solid #fbfbfb;
  margin-left: 12px;
}

.page-product .tab_item {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1em;
}

.page-product .tab_content {
  margin-right: 100px;
}

/*.tabs {*/
  /*margin-left: 20px;*/
/*}*/

.page-product .tab_content {
  margin-bottom: 60px;
}



.page-product .img-product  p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
.page-product .img-product  #largeImg {
    border: solid 1px #ccc;
    width: 400px;
    height: 400px;
    padding: 5px;
  }
.page-product .img-product  a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
  }
.page-product .img-product  .thumbs img {
    border: solid 1px #ccc;
    width: 100px;
    height: 100px;
    padding: 4px;
  }

.page-product .img-product .thumbs {
  display: inline-grid;
}

.page-product .img-product {
  display: flex;
}
