/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {  width: 100%;  height: 100%;}

body {
  padding: 0;
  margin: 0;
  font: 12px Tahoma, sans-serif;
  background: #464646 !important;
  color: #000;
}

div, menu, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, legend, label, select, input, textarea, button {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

button                         { cursor: pointer; padding: 0 }
select, input, textarea,button { font:12px Tahoma, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }

/*---------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");*/
@font-face {
  font-family: play; /* Гарнитура шрифта */
  src: url(../fonts/Play-Regular.ttf); /* Путь к файлу со шрифтом */
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.navbar-brand {
  text-decoration: none !important;
  text-shadow: none !important;
}
.navbar-brand h4 {
  margin-top: 0;
}

.navbar-nav > li > a, .nav-center a {
  text-decoration: none;
  font-size: 18px;
  color: #7F7F7F;
  font-family: play, sans-serif;
  font-weight: 400;
  text-shadow: none !important;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff !important;
}
.bg-nav, .d-flex {
  background-color: #303030;
}
nav li {
  padding: 0 3%;
  /*margin-left: 5px;*/
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-color: rgba(0, 0, 0, 0.3) !important;
}

@media screen and (min-width: 1240px)  {
  .navbar-nav {
    display: inline-block;
    width: 100%;
  }
  /*#bs-example-navbar-collapse-1 {*/
    /*margin-left: 72px;*/
  /*}*/
}
.navbar {
  border: none !important;
}

header {
  opacity: 0.9;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------- video content-----------------------*/
.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 111%;
  pointer-events: none;
}

#vidtop-content {
  top: 0;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 290%;
    top: -110%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

/*==================== Main part ===============================*/

/*.content {*/
  /*background: rgba(0, 0, 0, 0.4);*/
  /*!*padding-bottom: 130%;*!*/
  /*!*margin-top: -20%;*!*/
/*}*/

.video-background {
  opacity: 0.6;
}

.logo-img {
  width: 25%;
  position: fixed;
  top: 14%;
  right: 39%;
}

.nav-center {
  z-index: 5;
  /*padding-top: 37%;*/
  position: fixed;
  top: 79%;
}

.nav-center h3 {
  color: #FFFFFF;
  font-family: play, sans-serif;
  font-weight: 700;
}

.nav-center ul {
  display: flex;
}

.marg-r {
  margin-right: 45%;
}

.nav-right {
    position: fixed;
    bottom: 20%;
    right: 0%;
    /*float: right;*/
    /*margin-top: 20%;*/
  }

.nav-right li {
  padding-bottom: 5px;
}

.hide-el {
  visibility: hidden
}

/*на время*/
.nav-right a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

/**/
.limitless {
  z-index: 5;
  height: 35px;
  width: 52px;
  background-color: rgba(0,0,0,0.2);
  /*background-color: blue;*/
}

.right-let {
  width: 60%;
  margin-left: 11px;
  padding-top: 2px;
}

.right-call {
  width: 44%;
  padding-top: 5px;
  margin-left: 14px;
}

.lang {
  margin-left: 16px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  top: 5px;
  right: 3px;
}

.nav-right a:hover {
  text-decoration: none;
  color: yellow;
}
.nav-right a:visited {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav-center ul {
    display: block;
  }
  .logo-img {
    width: 63%;
    position: fixed;
    top: 21%;
    right: 19%;
  }
  .nav-right {
    margin-top: 31%;
  }
}

/*slide person right */
.slide-container {
  /*left: 0;*/
  position: fixed;
  top: 83px;
  left: 75%;
}

.slide-container .slide {
  background-color: #232323;
  /* border: solid #777; */
  /* border-width: 2px 2px 2px 2px; */
  color: #fff;
  height: 50px;
  line-height: 41px;
  margin: 0 0 0 270px;
  position: relative;
  text-align: center;
  width: 323px;
  -moz-transition: margin 1s;
  -o-transition: margin 1s;
  -webkit-transition: margin 1s;
  transition: margin 1s;
  display: block;
  padding: 5px 5px;
}

.slide-container .slide:hover {
  margin-left: 0;
}

.slide-container .slide .slide-content {
  /*float: left;*/
  width: 280px;
  /*padding-left: 2px;*/
}

.slide-container .slide .slide-header {
  float: left;
  width: 40px;
  /*было 30*/
  /*padding: 6px 0;*/
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.slide-container .slide:hover .slide-header {
  opacity: 0;
}

.slide img {
  width: 88%;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.container-fluid {
  color: #7F7F7F;
}

.company {
  margin-left: 5%;
  margin-top: 13px;
}

.d-flex, .social-icons ul {
  display: flex;
}

.social-icons li {
  margin-right: 27px;
  padding-top: 10px;
}

.social-icons i {
  color: white;
}

footer {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .social-icons {
    margin-left: 17%;
  }
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
body {overflow: hidden;}

.nav-lang {
  margin:0;
  padding:0;
  list-style:none;
}
.nav-lang li {
  float:left;
  display:block;
  width:100px;
  background:#ccc;
  position:relative;
  z-index:500;
  margin:0 1px;
}

.nav-lang li a {
  display:block;
  padding:8px 5px 0 5px;
  font-weight:700;
  height:23px;
  text-decoration:none;
  color:#fff;
  text-align:center;
  color:#333;
}
.nav-lang li a:hover {
  color:#fff;
}
.nav-lang a.selected {
  color:#f00;
}
.nav-lang ul {
  position:absolute;
  left:0;
  display:none;
  margin:0 0 0 -1px;
  padding:0;
  list-style:none;
}
.nav-lang ul li {
  width:100px;
  float:left;
  border-top:1px solid #fff;
}
.nav-lang ul a {
  display:block;
  height:15px;
  padding: 8px 5px;
  color:#666;
}
.nav-lang ul a:hover {
  text-decoration:underline;
}