.user-page {
  background: black;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.user-page .first-block {
  background: gray;
  width: 189px;
  display: flex;
  flex-direction: column;
}
.user-page .first-block button.btn-first-block  {
  height: 38px;
  background: #505050;
  border: none;
  color: white;
  font-size: 16px;
}
.user-page .first-block .weather img {
  width: 189px;
}
.user-page .first-block .maps {
  background: green;
  height: 237px;
}
.user-page .second-block {
  flex-grow: 1;
  background: darkblue;
  color: #7f7f7f;
  padding: 10px;
}
.user-page .second-block h1 {
  color: white;
  margin-bottom: 10px;
}
.user-page .second-block span.time-delivery {
  color: #ff9900;
  font-size: 16px;
}
div.second-block > div.inf-tab > div.tab_content > div:nth-child(2) > div:nth-child(1) > div > div.marg-top {
  margin-top: 25px;
}
.user-page .second-block p {
  font-size: 16px;
  color: #7f7f7f;
}
.user-page .second-block .item .mass {
  color: #7f7f7f;
}
.user-page .second-block .delivery-info {
  padding: 10px 30px;
}
.user-page .second-block .inf-tab .tab, .user-page .third-block .info-tab .tab-one {
  border-bottom: 3px solid #7f7f7f;
  padding: 0.5em 28px;
  margin-left: 7%;
  cursor: pointer;
  color: #7f7f7f;
}
.user-page .second-block .inf-tab .active, .user-page .third-block .info-tab .active {
  color: white;
  border-bottom: 3px solid #ff9900;
}
.user-page .second-block .inf-tab, .user-page .third-block .info-tab {
  font-size: 16px;
}
div.second-block > div.inf-tab > div.tab_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
div.second-block > div.inf-tab > div.tab_content .item {
  border: 1px solid black;
  padding: 10px 25px;
  margin-right: 10px;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 100px;
}
.user-page .second-block .inf-tab .tab_content {
  margin-top: 25px;
}
div.second-block > div.inf-tab > div.tab_content .info div.sub-text {
  margin-bottom: 15px;
  color: white;
}
div.second-block > div.inf-tab > div.tab_content .tab_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.user-page .second-block .padding-r {
  padding: 0 75px;
}

.second-block .tab_item .gallery {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-right: 30px;
}
.second-block .tab_item .gallery .photo {
  border: 1px solid black;
  width: 170px;
  height: 170px;
}

.second-block .tab_item .gallery .title {
  text-align: center;
  padding: 5px 0;
  width: 170px;
}
.second-block .tab_item .gallery .title a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.user-page .second-block .btn-info {
  color: #ff9900;
  text-decoration: none;
  background: none;
  font-size: 20px;
}
body > div > div > div.second-block > div.inf-tab > div.tab_content > div:nth-child(1) > div.item.right-marg {
  margin-right: 87px;
}
.user-page .third-block {
  background: #fff709;
  /*width: 400px;*/
  flex-basis: 400px;
}
.user-page .third-block .tab_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.user-page .third-block .tab-content {
  margin-top: 30px;
}
.user-page .third-block .all-tabs {
  margin: 11px 0;
}
.user-page .third-block .tab_content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
.user-page .third-block .item {
  border: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  height: 116px;
}
.user-page .third-block .photo {
  border: 1px solid black;
  width: 171px;
  height: 114px;
  margin-right: 10px;
}
.user-page .third-block .photo img, .second-block .tab_item .gallery .photo img {
  height: 100%;
  width: 100%;
}
.user-page .third-block .info {
  border: 1px solid black;
  padding: 0 5px;
  flex-grow: 1;
  flex-basis: 114px;
  font-size: 12px;
  color: #7f7f7f;
  overflow: hidden;
}
.user-page .third-block .info a {
  text-decoration: none;
  color: #fff;
}
.user-page .third-block .info h4 {
  padding-bottom: 7px;
}

.user-page .third-block .btn-show-all {
  color: #7f7f7f;
  font-size: 16px;
  border: none;
  background: none;
}